<!DOCTYPE html>
<html lang="en">
    {% include 'navbar.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <style>
        /* Add some basic styles for the list view */
        body {
            background-image: url('https://media.istockphoto.com/id/1297933144/vector/vector-illustration-of-indian-tricolor-flag-background.jpg?s=612x612&w=0&k=20&c=tCd-ZdLMNHw_KAMZTX9zStqEDdWzXlS6FYrvjrZIswk=');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover
        }
        </style>
</body>
</html>